*{
    margin: 0;
    padding: 0;
}

.mainpage{
   background-image:url("https://images.firstpost.com/uploads/2024/06/AP24181701309728-1-2024-06-1c72c26cf91d1299f0d7845b4c3685be-1200x675.jpg?im=FitAndFill=(1200,675)") ; 
   background-repeat: no-repeat;
   height: 100vh;
   background-size: cover;
   width: 100%;
   margin: 0;

}
.mainx{
    background-color: rgba(0, 0, 0, 0.37);
    height: 100vh;
    width: 100%;
    
}
.head{
    color:white;
    font-size: 90px;
}
.mainh{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.abt{
    margin: 60px;
    font-size: 25px;
}
.abtp{
    display: flex;
    flex-direction: row;
    gap: 150px;
    font-size: 20px;
    margin-top: 20px;
}
.abtp img{
    width: 500px;
    height: 300px;
}
.abtp p{
    width: 600px;
    
}
